Creating data frame with pandas

In [1]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series(['a', 'b', 'c', 'd'])
df = pd.DataFrame({'a': s1, 'b': s2},)
df

We can also use pd.read_csv('<path>') to read the dataframe from a file

Navigating in Pandas

In [ ]:
# df.iat[row, colomn]
df.iat[1, 1]

'b'

In [ ]:
# select row df[<lowerRow>: <upperRow>]
df[:0]

Empty DataFrame
Columns: [a, b]
Index: []

In [ ]:
# select column df['<columnName>']
df['a']

0    1
1    2
2    3
3    4
Name: a, dtype: int64